@import "../mixins";
@import "../variables";

.about-us {
	padding-top: 60px;
	background: url("../src/back2.png");
	background-size: cover;
	min-height: 720px;
	color: $dark-green;
}
.about-us-content {
    @include flex-display(flex, column, flex-start);
	justify-content: center;
	padding: 0px;
	padding-left: 600px;
	gap: 48px;
}
#text-about-us {
	width: 580px;
}